.container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, #BFDFDF, #84B0B0);
    border: #000 3px solid;
}

.imgcontainer 
{
    padding: 20px;
}
img
{
    border: solid 2px #000;
    margin: 15px;
}
.float-left
{
    float: left;
}
.float-right
{
    float: right;
}